<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<title>Página do dydy</title>
</head>
<body>
	<table class="table">
		<thead>
			<tr>
				<td>
				<b>Nome</b>
				</td>
				<td>
				<b>Idade</b>
				</td>
			</tr>
		</thead>
		<tbody>
			{% for pessoa in listagem: %}
				<tr>
					<td>{{pessoa["nome"]}}</td>
					<td>{{pessoa["idade"]}}</td>
				</tr>
			{% endfor %}	
		</tbody>
		
	</table>
</body>
<script src="//code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</html>